/* Menu.module.css */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
  background-color: var(--penn-blue);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--white);
  margin-bottom: 20px;
}

.section {
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

/* .section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px) brightness(80%);
  z-index: 1;
} */

.sectionTitle {
  font-size: 2.2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
  z-index: 20;
  position: relative;
  font-family: Montserrat;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  z-index: 20;
  position: relative;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-size: 1rem;
  color: #0c0c0c;
  font-weight: bold;
  transition: background 0.3s;
  font-family: Montserrat;
}

.menuItem:hover {
  background: rgba(255, 255, 255, 0.2);
}

.itemName {
  text-align: left;
  font-size: 0.8rem;
}

.itemPrice {
  text-align: right;
  font-size: 0.8rem;
}

.section.crepe {
  /* background: url("../../assets/waffle_crepe.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: cyan;
}

.section.waffle {
  /* background: url("../../assets/waffle.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: yellow;
}

.section.smashed-pancake {
  /* background: url("../../assets/pancake.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: cyan;
}

.section.hot-drinks {
  /* background: url("../../assets/order.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: yellow;
}

.section.smoothies {
  /* background: url("../../assets/happiness.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: cyan;
}

.section.milkshakes {
  /* background: url("../../assets/order.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: yellow;
}
