.freshly {
  width: 100%;
  background-color: var(--cherry-blossom-pink);
  color: var(--white);
  font-family: Montserrat, Inter;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  row-gap: 20px;
}

.freshlyHeader {
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 1px dashed black;
  border-top: 1px dashed black;
  padding: 10px;
  color: black;
}

.headerWord {
  position: relative;
  margin-right: 20px;
  color: black;
}

.headerWord::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.icons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.iconItem {
  text-align: center;
}

.iconDescription {
  margin-top: 8px;
  font-size: 1.4rem;
  color: black;
  font-family: Dancing Script, Inter;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 20px;
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  font-family: Montserrat, Inter;
  text-align: center;
  align-self: center;
  font-weight: bold;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 40px auto;
  transition: 0.3s ease-in-out;
  color: black;
}

.cta:hover {
  background-color: yellow;
  border-color: yellow;
}
